.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.cardWrapper {
  padding: 20px;
}

.flexWrapper {
  display: flex;
}

.body {
  background-color: #E2E6EA;
}

.card {
  border-radius: 20px;
  background-color: #E2E6EA;
  border-width: 0px;
}

.mainDetails {
  background-color: #FFEB32;
}

.btn-primary{
  margin-top:20px;
  border-radius: 12px;
  background-color: #FF7800;
  border: 0px;
}

.eventFlex{
  padding-top: 30px;
  padding-left: 250px;
  padding-right: 250px;
}

.eventCardFlex{
  display: flex;
  background-color: white;
  padding: 20px;
  border-radius: 30px;
}

#childFlex{
  flex-grow: 2;
  flex-shrink: 2;
  padding: 10px;
}

#mapFlex{
  flex-grow: 1;
  flex-shrink: 1;
  padding: 10px;
}

.eventDetailsFlex{
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.eventButtonsFlex{
  display:flex;
}

#eventButtonFlex{
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
}

#eventHeader{
    position: relative;
    margin-bottom:20px;
    border-radius: 30px;
}

#eventImage{
    position: relative;
    border-radius: 30px;
}

#eventReview{
  position: absolute;
  padding-right: 20px;
  padding-bottom: 10px;
  bottom: 0;
  right: 0;
}

#eventTitle{
  color: white;
  font-size: 40px;
  font-weight: 900;
  position: absolute;
  padding-left: 30px;
  bottom: 0;
  left: 0;
}

.checked {
  color: orange;
}